.wp-gone-control-entry-actions {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 16px;
	flex-wrap: wrap;
	margin-bottom: 16px;
}

.wp-gone-control-pagination label {
	vertical-align: bottom;
}

.wp-gone-control-pagination .small-text {
	vertical-align: bottom;
}

.wp-gone-control-page-total {
	display: inline-block;
	margin: 0 4px;
}
