<?php
const WP_SITEURL = 'https://%s';
const WP_HOME = 'https://%s';

// Multisite mode
//define( 'DB_NAME', 'safety-passwords-ms' );
//define( 'WP_ALLOW_MULTISITE', true );
//define( 'MULTISITE', true );
//define( 'SUBDOMAIN_INSTALL', false );
//define( 'DOMAIN_CURRENT_SITE', '%s' );
//define( 'PATH_CURRENT_SITE', '/' );
//define( 'SITE_ID_CURRENT_SITE', 1 );
//define( 'BLOG_ID_CURRENT_SITE', 1 );


// Single mode
define( 'DB_NAME', 'wp410' );
define( 'DB_USER', 'root' );
define( 'DB_PASSWORD', 'password' );
define( 'DB_HOST', 'mysql' );
define( 'DB_CHARSET', 'utf8' );
define( 'DB_COLLATE', '' );
$table_prefix = 'wp_';

define( 'WP_DEBUG', false );

define( 'WPMS_ON', true );
define( 'WPMS_LICENSE_KEY', '' );
define( 'WPMS_MAIL_FROM', '' );
define( 'WPMS_MAIL_FROM_FORCE', true );
define( 'WPMS_MAIL_FROM_NAME', 'WP Gone Control Local' );
define( 'WPMS_MAIL_FROM_NAME_FORCE', true );
define( 'WPMS_SET_RETURN_PATH', true ); // Sets $phpmailer->Sender if true.
define( 'WPMS_DO_NOT_SEND', false ); // Possible values: true, false.

define( 'WPMS_MAILER', 'smtp' ); // Possible values: 'mail', 'gmail', 'mailgun', 'sendgrid', 'smtp'.
define( 'WPMS_SMTP_HOST', '' );
define( 'WPMS_SMTP_PORT', 465 );
define( 'WPMS_SSL', 'ssl' ); // Possible values '', 'ssl', 'tls' - note TLS is not STARTTLS.
define( 'WPMS_SMTP_AUTH', true );
define( 'WPMS_SMTP_USER', '' ); // SMTP authentication username, only used if WPMS_SMTP_AUTH is true.
define( 'WPMS_SMTP_PASS', '' ); // SMTP authentication password, only used if WPMS_SMTP_AUTH is true.
define( 'WPMS_SMTP_AUTOTLS', true );

//define( 'WPMS_MAILER', 'gmail' );
define( 'WPMS_GMAIL_CLIENT_ID', '' );
define( 'WPMS_GMAIL_CLIENT_SECRET', '' );

//define( 'WPMS_MAILER', 'amazonses' );
define( 'WPMS_AMAZONSES_CLIENT_ID', '' );
define( 'WPMS_AMAZONSES_CLIENT_SECRET', '' );
define( 'WPMS_AMAZONSES_REGION', '' ); // Possible values for region: 'us-east-1', 'us-east-2', 'us-west-1', 'us-west-2', 'eu-west-1', 'eu-west-2', 'eu-west-3', 'eu-central-1', 'eu-north-1', 'ap-south-1', 'ap-northeast-1', 'ap-northeast-2', 'ap-southeast-1', 'ap-southeast-2', 'ca-central-1', 'sa-east-1'.


if ( ! defined('ABSPATH') ) {
	define( "ABSPATH", __DIR__ . '/wordpress/' );
}

if ( ! defined( "WP_CONTENT_DIR" ) ) {
	define( "WP_CONTENT_DIR", ABSPATH . 'wp-content' );
}

// Carbon Fields does not work with such a path configuration like here (symlinked directory),
// so we need to define the path manually.
define( 'Carbon_Fields\DIR', WP_CONTENT_DIR . '/plugins/gone-control/vendor/htmlburger/carbon-fields' );

require_once ABSPATH . 'wp-settings.php';
